@media print {
	body,.page {
		margin: 0;
		box-shadow: 0;
		-webkit-print-color-adjust: exact;
	}
	a {
		color: #333;
	}
}
@font-face {
	font-family: LigatureSymbols;
	src: url(LigatureSymbols-2.11.ttf);
}
body {
	background: #CCC;
	color: #333;
	font-family: serif;
}
img	{
	width: 100%;
}
table {
	width: 100%;
	text-align: justify;
}
td {
	padding: 0px 2px;
}
.courses td:first-child {
	width: 20%;
}
span {
	font-family: LigatureSymbols;
	font-size: 20pt;
	font-weight: bold;
}
ul {
    list-style-type: disc;
}
.page{
	background: -webkit-linear-gradient(left, #EEE , #EEE 8mm, #DDD 8mm, #DDD 73mm, #EEE 73mm, #EEE);
	width: 178mm;
	height: 276.94mm;
	margin: 0 auto;
	padding: 2mm 8mm 6mm 12mm;
	box-shadow: 0 0 5mm rgba(0,0,0,0.5);
}
.page>* {
	float: left;
}
.top {
	width: inherit;
}
.left {
	width: 32%;
	margin-right: 3%;
}
.right {
	width: 65%;
	margin-top: 8px;
}
.left td:first-child {
	text-align: left;
}
.left td:last-child {
	text-align: right;
}
.right td:first-child {
	vertical-align: top;
}
.section,table.top {
	border-bottom: 1px solid #333;
}
.section td:first-child {
	text-align: left;
}
.section td:last-child,.top td:last-child {
	font-size: 14pt;
	font-weight: bold;
	text-align: right;
}
.profile td {
	padding: 0px 5px;
}
.profile td:first-child {
	text-align: center;
}
.profile td>span, .skills td>span {
	font-size: 14pt;
	font-weight: normal;
}
